.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 7rem 0;
}

.cart__empty-text {
  margin: 4.5rem 0 5.5rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 10rem 0 15rem;
  }

  .cart__empty-text {
    margin: 5rem 0 6rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--color-foreground-20);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  height: 1.8rem;
  margin-bottom: 2rem;
  color: var(--color-foreground-75);
}

.cart__note .field__input {
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  margin-top: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: 2;
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .cart__dynamic-checkout-buttons {
    margin-top: 1rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}


/* CUSTOM CSS FOR CART-TO-DRAFT ORDER CHECKOUT */

  /* ****** Draft Order Styles ****** */
  .sch-radio-btns {
    align-self: center;
   }
  
   .sch-radio-container {
    width: 200px;
    padding-bottom: 10px;
   }
  
   .sch-justify-content-apart {
    display: flex;
    justify-content:space-between;
   }
  
   input:disabled, input[disabled] {
     background-color: rgb(179, 176, 176);
     opacity: .5;
   }
  
   /* Chrome, Safari, Edge, Opera */
  #cost-center-id input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  #cost-center-id input[type=number] {
    -moz-appearance: textfield;
  }
  
  .ccn-input {
    font-family: var(--font-stack-header);
    font-style: var(--font-style-header);
    font-weight: var(--font-weight-header);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
  }
  .ccn-input ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
  }
  
  .ccn-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
  }
  
  .ccn-input ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
  }
  
  input[disabled]::placeholder {
    color: #ffffff;
  }
  
   /* *******  Modal Styles ********  */
  
   .sch-modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 15%;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: var();
     background-color: rgba(var(--color-bg-rgb), 0.6);
  
  }
  
  .sch-modal-content {
    margin: auto;
    width: 70%;
    height: 300px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
   }
  
   .sch-message {
    padding: 65px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
   }
  
   .sch-align-content {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 100%;
   }
   .btn-container {
     padding-left: 15px;
   }
  
   .icon:hover,
   .icon:focus {
     color: #295837;
   }
   
